@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stylish", sans-serif;
  }
  
  :root {
    --primary-color: #070707;
    --secondary-color: #6aa7ec;
  }
  
  body {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-color: #195235;
    /* background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); */
      background-image: url('leaves-background-with-metallic-foil_79603-913.jpg');
      display: flex;
      background-size: cover;
      
  }
  .container {
    display:inline-flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(170, 110, 32, 0.6);
    border-radius: 10px;
    width: 600px;
    left: -20px;
    top: 10px;
    margin: 20px;
  }
  
  .fa-quote-left {
    font-size: 84px;
    color:#5EBD96;
  }
  
  .quote {
    text-align: center;
    font-style: italic;
    /* color: var(--primary-color); */
    color:#115e3d;
  }
  
  .author {
    color:#EEB609;
    font-size: 50px;
  }
  
  hr {
    margin: 10px 0;
    width: 60%;
    border: 1px solid goldenrod;
  }
  
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .twitter-share-button {
    text-decoration: none;
    font-size: 20px;
    background-color: #c5e7d9;
    padding: 10px;
    color: #d1a71c;
    border-radius: 4px;
  }
  
  .buttons button {
    cursor: pointer;
    border: none;
    color: #cfa51a;
    font-size: 20px;
    font-weight: 700;
    background-color: #c4f7e2;
    padding: 10px;
    border-radius: 4px;
  }
  
  button:focus {
    outline: none;
  }
  
  .fa-twitter {
    margin-right: 5px;
  }
  
  /* loader */
  .loader {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader.hide {
    display: none;
  }